@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.section1 {
    background-image: url(../assets/Layer_34.png);
}

header {
    display: flex;
    justify-content: space-around;
    /* gap: 18%; */
    padding: 3% 12%;
    background-color: rgba(50, 52, 85, 0.95);
}

.linea {
    background-color: grey;
    width: 565%;
    height: 1px;
    margin-bottom: 70px;
    margin-top: 30px;
}

/* header a{
    margin-left: 7%;
} */

.imgHead {}

.ref {
    display: flex;
    gap: 50px;
    font-size: 14px;
}

.ref a {
    text-decoration: none;
    color: #C9CADC;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.multi {
    text-align: center;
    background-color: rgba(50, 52, 85, 0.95);
    color: white;
    font-family: "Raleway";
    font-size: 33px;
}

.multi p {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 50px;
}

.find {
    background-color: #E84546;
    color: white;
    height: 5vh;
    width: 12vw;
    border-style: none;
    border-radius: 3px;
    margin-bottom: 10%;
}

/* .multi h1 {
    
} */

/* .section2 {

} */


.grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: 3% 22%;
    gap: 5%;

}

.grid1 h2 {
    font-size: 15px;
    font-family: "Raleway";
    padding-bottom: 5%;
}

.grid1 p {
    font-family: "Raleway";
    font-size: 15px;
    font-weight: 300;
    color: #8B8B8D;
    width: 10rem;
}

.cell1 {
    place-items: center;
}

.cell2 {
    place-items: center;
}

.cell3 {
    place-items: center;
}

.cell4 {
    place-items: center;
}

.cell5 {
    place-items: center;
}

.cell6 {
    place-items: center;
}

.grid1 img {
    padding-bottom: 5%;
    padding-top: 20%;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: "Raleway";
}

.grid3 p{
    width: 16rem;
}